body {
    background-image: url(../images/palms.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nanum Gothic', sans-serif;
}

h2, h4, p {
    color: #F2F2F2;
}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.social-menu {
    margin: 0 30px 0 0;
}

.social-menu a {
    display: inline;
    clear: right;
    text-decoration: none;
    color: #F2F2F2;
    margin: 0 2px;
    line-height: 70px;
}

.menu-label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: #F2F2F2;
}

#toggle {
    display: none;
}

.nav-menu {
    margin: 0 30px 0 30px;
}

.nav-menu a {
    display: inline;
    clear: left;
    text-decoration: none;
    color: #F2F2F2;
    margin: 0 15px;
    line-height: 70px;
    font-size: 16px;
}

.nav-menu a:hover {
    color: #A68572;
}

.nav-link {
    font-size: 20px;
}

.nav-link:hover {
    color: #A68572;
}

.intro-jumbo {
    padding: 10px;
    margin-top: 30px;
    background: rgb(217, 208, 199, 0.7);
}

.intro-name {
    text-align: center;
}

.intro-tag {
    text-align: center;
    font-size: 16px;
}

#aboutme-jumbo {
    background: rgb(166, 133, 114, 0.9);
    padding-bottom: 115px;
}

.about-me-header {
    font-size: 28px;
}

.aboutme {
    font-size: 16px;
    line-height: 25px;
}

.my-photo {
    float: right;
    width: 290px;
    height: 290px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.us-wazza {
    float: left;
    height: 290px;
    width: 290px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#projects-jumbo {
    background: rgb(217, 208, 199, 0.9);
}

.projects {
    font-size: 32px;
}

.contact-jumbo {
    background: rgb(166, 133, 114, 0.9);
}

.contact {
    font-size: 32px;
}

.inner {
    padding: 20px;
} 

.app-title {
    color:#A68572;
    text-align: center;
    font-size: 23px;
}

.links {
    text-align: center;
    color: #A68572;
    font-size: 16px;
}

.links:hover {
    color: #262624;
}
  
.game-img {
    width: 100%;
    height: auto;
    margin: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-img:hover {
    opacity: 0.6;
} 

#submit {
    background-color: #D9D0C7;
    color: #A68572;
    border-radius: 4px;
    border: 1px solid #A68572;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
}

#submit:hover {
    background-color: #262624;
    color: #D9D0C7;
}

#thank-you-msg {
    color: #F2F2F2;
    font-size: 16px;
}

.focus {
    font-size: 32px;
}

.focus-experience {
    background: rgb(191, 160, 132, 0.9);
}

.code-text {
    font-size: 16px;
    line-height: 25px;
}

#resume-btn {
    height: 50px;
    width: 150px;
    font-size: 16px;
    background-color: #D9D0C7;
    color: #A68572;
    border-radius: 4px;
    border: 1px solid #A68572;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#resume-btn:hover {
    background-color: #262624;
    color: #D9D0C7;
}

.contact-msg {
    font-size: 16px;
}

.contact-labels {
    font-size: 16px;
}

.footer {
    /* background-color: #BFA084; */
    background: rgb(191, 160, 132, 0.7);
    color: #F2F2F2;
    text-align: center;
    padding: 15px;
}

.footer-contact, .footer-resume {
    background-color: #BFA084;
    color: #F2F2F2;
    text-align: center;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* MEDIA QUERIES */

/* Mobile Phones */
@media only screen and (max-width: 378px) {
    .nav-menu a {
        margin: 0 5px;
    }

    .nav-menu {
        margin: 0 2px 0 2px;
    }

    .social-menu {
        text-align: center;
        margin: 0;
        width: 100%;
        /* display: none; */
    }

    .social-menu a {
        display: inline-block;
        margin: 0;
    }

    .aboutme {
        margin-left: auto;
        margin-right: auto;
        width: 22rem;
    }

    .my-photo {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .pashi-and-me {
        display: block;
        align-items: center;
        justify-content: center;
    }

    /* .menu-label {
        display: block;
        cursor: pointer;
    } */
    /* #toggle:checked + .social-menu {
        display: block;
    } */
}
/* Tablets */
@media screen and (max-width:600px) {
    .nav-menu a {
        margin: 0 5px;
    }

    .nav-menu {
        margin: 0 2px 0 2px;
    }
}

/* iPads */
@media screen and (max-width:768px) {
    .nav-menu a {
        margin-left: 3.5px;
    }

    .my-photo {
        float: right;
        width: 290px;
        height: 290px;
        margin: 10px;
    }

    .pashi-and-me {
        float: left;
        height: 250px;
        width: 250px;
        margin: 10px;
    }

    .jumbotron-fluid {
        padding-right: 0;
    }
}
