body {
    background-image: url(../images/simple.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Abhaya Libre', serif;
}

h2, h4, p {
    color: #F2F2F2;
}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    display: inline;
    clear: right;
    text-decoration: none;
    color: #F2F2F2;
    margin: 0 2px;
    line-height: 70px;
}

.menu-label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

.navbar  {
    background-color: #D9D0C7;
    padding: 10px;
}

.navbar-brand {
    width: 75px;
    height: 74px;
    border: 1px solid #A68572;
    background-image: url(../images/LOGO3.jpeg);
    background-size: 74px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 35px;
}

.nav-link {
    font-size: 20px;
}

.nav-link:hover {
    color: #A68572;
}

#github-icon {
    height: 30px;
    width: 30px;
}

#linkedin-icon {
    height: 30px;
    width: 35px;
}

.jumbotron-fluid {
    background-color: #BFA084;
}

.intro-jumbo {
    padding: 10px;
    margin-top: 30px;
}

.intro-name {
    text-align: center;
}

.intro-tag {
    text-align: center;
    font-size: 22px;
}

.contact-info {
    text-align: center;
    font-size: 22px;
}

#aboutme-jumbo {
    background-color: #A68572;
    padding-bottom: 115px;
}

.about-me-header {
    font-size: 40px;
}

.aboutme {
    font-size: 23px;
    line-height: 40px;
}

.my-photo {
    float: right;
    width: 290px;
    height: 290px;
    margin: 10px;
}

.us-wazza {
    float: left;
    height: 290px;
    width: 290px;
    margin: 10px;
}

#projects-jumbo {
    background-color: #D9D0C7;
}

.projects {
    font-size: 40px;
}

.contact-jumbo {
    background-color: #A68572;
}

.contact {
    font-size: 40px;
}

.inner {
    padding: 20px;
} 

.app-title {
    color:#A68572;
    text-align: center;
    font-size: 30px;
}

.links {
    text-align: center;
    color: #A68572;
    font-size: 20px;
}

.links:hover {
    color: #262624;
}
  
.game-img {
    width: 100%;
    height: auto;
    margin: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-img:hover {
    opacity: 0.6;
} 

#submit {
    background-color: #D9D0C7;
    color: #A68572;
    border-radius: 4px;
    border: 1px solid #A68572;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 18px;
}

#submit:hover {
    background-color: #262624;
    color: #D9D0C7;
}

#thank-you-msg {
    color: #F2F2F2;
    font-size: 20px;
}

.focus {
    font-size: 40px;
}

.code-text {
    font-size: 23px;
    line-height: 40px;
}

#resume-btn {
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: #D9D0C7;
    color: #A68572;
    border-radius: 4px;
    border: 1px solid #A68572;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#resume-btn:hover {
    background-color: #262624;
    color: #D9D0C7;
}

.contact-msg {
    font-size: 20px;
}

label {
    font-size: 20px;
}

.footer {
    background-color: #BFA084;
    color: #F2F2F2;
    text-align: center;
    padding: 15px;
}

.footer-contact, .footer-resume {
    background-color: #BFA084;
    color: #F2F2F2;
    text-align: center;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .menu-label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        /* display: block; */
        float: right;
        margin: 0;
    }

    #toggle:checked + .menu {
        display: block;
    }
}

@media screen and (max-width:550px) {
    .my-photo {
        height: 100%;
        width: 100%;
    }

    .pashi-and-me {
        height: 100%;
        width: 100%;
    }
}
